:root {
  margin: 0;
  
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Flexbox & responsive design */

@media (max-width: 500px) {
  .flex-responsive {
    flex-direction: column;
  }
}

@media (min-width: 501px) {
  .flex-responsive {
    flex-direction: row;
  }
}

.small-width {
  max-width: 600px;
  margin: auto;
  padding: 0 1em;
}

/* Elements */

@media (max-width: 500px) {
  .nav-row ul {
    justify-content: flex-end;
  }
}

@media (min-width: 501px) {
  .nav-row {
    margin-top: 1em;
  }
}

.gavel-icon {
  height: 2.25em;
  margin-right: .25em;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.text-lg {
  font-size: 1.4rem;
}

.button-link {
  border: 2px solid #1881C3;
  border-radius: 10px;
  padding: .5em;
}

.hero {
  padding: 3em 0;
}

.hero-bg {
  background: #E3F1FE;
  margin-bottom: 2em;
}

.hero-text {
  color: #0A2945;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.25em;
  text-align: center;
}

.hero-button {
  color: white;
  background: #015FC1;
  font-weight: bold;
  padding: .5em 1.5em;
  border-radius: 6px;
  margin-top: 1.5em;
}

.social-icons {
  height: 23px;
  width: 108.5px;
}